# The environment Craft is currently running in (dev, staging, production, etc.)
CRAFT_ENVIRONMENT=dev

# General config
CRAFT_DEV_MODE=true
CRAFT_ALLOW_ADMIN_CHANGES=true
CRAFT_ALLOW_UPDATES=true

# This should be set to false on production!
CRAFT_DISALLOW_ROBOTS=true

# Status of the wesbite, easy to disable site from .env file
SITE_STATUS=true

# The application ID used to to uniquely store session and cache data, mutex locks, and more
CRAFT_APP_ID=

# The secure key Craft will use for hashing and encrypting data
CRAFT_SECURITY_KEY=

# Database Configuration
CRAFT_DB_DRIVER="mysql"
CRAFT_DB_SERVER="db"
CRAFT_DB_PORT="3306"
CRAFT_DB_DATABASE="db"
CRAFT_DB_USER="db"
CRAFT_DB_PASSWORD="db"
CRAFT_DB_SCHEMA=
CRAFT_DB_TABLE_PREFIX=

# The URI segment that tells Craft to load the control panel
CP_TRIGGER=admin

# Website name 
SITE_NAME="Boilerplate"

# Define site urls
PRIMARY_SITE_URL="https://boilerplate.ddev.site"
PRIMARY_SITE_URL_NL="https://boilerplate.ddev.site/nl"
PRIMARY_SITE_URL_FR="https://boilerplate.ddev.site/fr"
PRIMARY_SITE_URL_EN="https://boilerplate.ddev.site/en"

# Cookie domain
COOKIE_DOMAIN=".ddev.site"

# MAIL
FROM_EMAIL=info@mstudionoir.be

# SMTP
SMTP_HOST=127.0.0.1
SMTP_PORT=1025
SMTP_VERIFICATIE=false
SMTP_USERNAME=
SMTP_PASSWORD=

# MAILGUN API
MAILGUN_DOMAIN=mailgundomain
MAILGUN_API_KEY=apikey
MAILGUN_ENDPOINT=https://api.eu.mailgun.net/v3/mailgundomain

# Vite related stuff
CRITICAL_CSS=true
GENERATE_FAVICON=true

# Use the design grid
DESIGN_GRID=true

# GOOGLE MAPS
MAPS_API_KEY=
MAPS_API_KEY_ALT=

# BLITZ
BLITZ_ENABLED=false
BLITZ_DEBUG=false
BLITZ_HINTS=false

# RECAPTCHA v3
RECAPTCHA_ENABLED=false
RECAPTCHA_SITE_KEY=""
RECAPTCHA_SECRET_KEY=""

# S3 settings
S3_KEY_ID=XXXXXXXXXX
S3_SECRET=XXXXXXXXXX
S3_BUCKET=studionoir-projectnaam
S3_REGION=eu-west-3

# CloudFront settings
CLOUDFRONT_URL=https://xxxxxx.cloudfront.net
CLOUDFRONT_DISTRIBUTION_ID=xxxxxxx
CLOUDFRONT_PATH_PREFIX=

# Bugsnag settings
BUGSNAG_ENABLED="false"
BUGSNAG_SERVER_KEY=""
BUGSNAG_BROWSER_KEY=""