# Craft .gitignore

/.env
/.htaccess
/.idea

# CRAFT ENVIRONMENT
.env.php
.env.sh
.env

# COMPOSER
/vendor

# CRAFT STORAGE STUFF
# ------------------------------------------------------------
storage/*
web/cpresources/*/craft/storage/*
!/craft/storage/logo/*
!/storage/rebrand

# UPLOADS
/web/uploads/
/web/transforms/

# TRANSLATIONS
/translations

# BUILD FILES
/node_modules
/yarn-error.log
/web/dist-site
/tools/vendor

# MISC FILES
.cache
.DS_Store
Thumbs.db
.idea
.project
*.esproj
*.diff
*.err
*.orig
*.log
*.sql
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache
.settings
_notes
dwsync.xml
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.tmproj
*.tmproject