.design-grid {    
    z-index: 1000000;
    pointer-events: none;      
    transition: opacity .4s ease; 
    opacity: 1;
    
    &.not-visible {
        opacity: 0
    }

    .grid {
        div {
            background-color: red;
            opacity: .1;
            @apply col-span-1 w-full h-full;       
        }
    }

    &--toggle {
        cursor: pointer !important;
        position: fixed;
        z-index: 100000000;
        background-color: #d0f467;
        border-top-left-radius: 18px;
        width: 32px;
        height: 32px;
        bottom: 0px;
        right: 0px;
        display: flex;
        justify-content: center;
        align-items: center;   
        overflow: hidden;   
        transition: width .4s ease, height .4s ease, background-color .4s ease;
        
        &-icon {
            @apply w-full h-full relative pointer-events-none;
            transition: width .4s ease, height .4s ease;            
            
            > * {
                @apply absolute bg-black;
                transition: background-color .4s ease;
            }

            &--line1 {
                @apply left-[4px] top-0 w-[2px] h-full;
            }
            
            &--line2 {
                @apply right-[4px] top-0 w-[2px] h-full;                
            }
            
            &--line3 {
                @apply left-0 bottom-[4px] w-full h-[2px];               
            }

            &--line4 {
                @apply left-0 top-[4px] w-full h-[2px];               
            }
        }

        &.active {
            .design-grid--toggle {
                &-icon {
                    @apply w-[30px] h-[30px];                    
                }
            }
        }

        &.active, &:hover {
            width: 45px;
            height: 45px;
        }

        &:hover {
            .design-grid--toggle {
                &-icon {
                    @apply w-[20px] h-[20px];
                }
            }
        }
    }
}