// Cookie banner css overrides

:root {
    // General
    --cc-max-width: 29.5em;

    // Title heading color
    --cc-title-color: theme("colors.typography.heading");

    // text heading color
    --cc-text-color: theme("colors.typography.text");

    // Primary button
    --cc-btn-color--primary: theme("colors.background");
    --cc-btn-font-size--primary: theme("fontSize.text_btn_min");
    --cc-btn-background--primary: theme("colors.primary");
    --cc-btn-border--primary: theme("colors.background");
    --cc-btn-border-radius--primary: 28px;
    // Primary button hover state
    --cc-btn-color-hover--primary: theme("colors.background");
    --cc-btn-background-hover--primary: theme("colors.secondary");
    --cc-btn-border-hover--primary: theme("colors.secondary");

    // Secondary button
    --cc-btn-color--secondary: theme("colors.secondary");
    --cc-btn-font-size--secondary: theme("fontSize.text_btn_min");
    --cc-btn-background--secondary: transparent;
    --cc-btn-border--secondary: theme("colors.secondary");
    --cc-btn-border-radius--secondary: 28px;
    // Secondary button hover state
    --cc-btn-color-hover--secondary: theme("colors.background");
    --cc-btn-background-hover--secondary: theme("colors.secondary");
    --cc-btn-border-hover--secondary: theme("colors.secondary");

    // Cookie info bg
    --cc-cookie-category-block-bg: #e10000;
}

#cc-main {
    // General
    .cm {
        max-width: var(--cc-max-width) !important;
    }

    * {
        font-family: theme('fontFamily.body') !important;
    }

    // Title heading color
    .cm__title,
    .pm__title,
    .pm__section-title {
        color: var(--cc-title-color) !important;
        font-family: theme('fontFamily.heading') !important;
    }

    .pm__section-arrow {
        background-color: theme("colors.primary") !important;
        border-color: theme("colors.primary") !important;
        box-shadow: 0 0 0 1px theme("colors.primary") !important;
    }

    .section__toggle:checked:disabled ~ .toggle__icon {
        background-color: theme("colors.primary") !important;
    }

    .section__toggle ~ .toggle__icon {
        background-color: theme("colors.background") !important;
    }
    .section__toggle:checked ~ .toggle__icon {
        background-color: theme("colors.primary") !important;
    }

    .pm__close-btn {
        background-color: theme("colors.primary") !important;
    }

    .pm__close-btn svg {
        stroke: theme("colors.background") !important;
    }

    .toggle__icon {
        background-color: theme("colors.primary") !important;
        border-color: theme("colors.primary") !important;
        box-shadow: 0 0 0 1px theme("colors.primary") !important;
    }
    .pm__section-arrow svg {
        stroke: theme("colors.background") !important;
    }

    .pm__section--toggle .pm__section-title {
        background-color: theme("colors.background") !important;
        font-weight: 500 !important;
    }

    .pm__section:not(:first-child):hover {
        background-color: transparent !important;
    }

    // Text colors
    .cm__desc,
    .pm__section-desc {
        color: var(--cc-text-color) !important;
        font-weight: light !important;
    }

    // Primary button
    .cm__btn,
    .pm__btn {
        color: var(--cc-btn-color--primary) !important;
        font-size: var(--cc-btn-font-size--primary) !important;
        background-color: var(--cc-btn-background--primary) !important;
        border: 1px solid var(--cc-btn-border--primary) !important;
        border-radius: var(--cc-btn-border-radius--primary) !important;
        font-weight: 300 !important;
        padding: theme("padding.2") theme("padding.5") !important;

        &:hover {
            color: var(--cc-btn-color-hover--primary) !important;
            background-color: var(--cc-btn-background-hover--primary) !important;
            border: 1px solid var(--cc-btn-border-hover--primary) !important;
        }
    }

    // Secondary button
    .cm__btn--secondary,
    .pm__btn--secondary {
        color: var(--cc-btn-color--secondary) !important;
        font-size: var(--cc-btn-font-size--secondary) !important;
        background-color: var(--cc-btn-background--secondary) !important;
        border: 1px solid var(--cc-btn-border--secondary) !important;
        border-radius: var(--cc-btn-border-radius--secondary) !important;

        &:hover {
            color: var(--cc-btn-color-hover--secondary) !important;
            background-color: var(--cc-btn-background-hover--secondary) !important;
            border: 1px solid var(--cc-btn-border-hover--secondary) !important;
        }
    }

    // Hide accept neccesery btn
    .pm__btn[data-role="necessary"] {
        display: none !important;
    }
}
