<div class="fixed w-full h-full {% if getCookie('designgrid') != 'true' %}not-visible{% endif %} design-grid">
	<div class="grid w-full h-full MainGrid">
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div>
</div>