{% import "_macros/images/image.twig" as image %}

{% set blockMediaHandle = blockMediaHandle ??? block.type.handle ??? 'blockMedia' %}
{% set blockMedia = blockMedia ??? block.fieldMedia.one() ??? null %}
{% set blockMediaSize = blockMediaSize ??? block.fieldMediaSize.value ??? 'medium' %}
{% set blockMediaRatio = blockMediaRatio ??? block.fieldRatio ??? 'auto:auto' %}

{% switch blockMediaSize %}
	{% case "large" %}
		{% set blockMediaColumns = 'col-span-full' %}
	{% case "medium" %}
		{% set blockMediaColumns = 'col-span-full sm:col-span-10 sm:col-start-2' %}
	{% case "small" %}
		{% set blockMediaColumns = 'col-span-full xs:col-span-10 xs:col-start-2 sm:col-span-8 sm:col-start-3' %}
{% endswitch %}

{% if blockMedia and blockMedia|length %}
	<section class="{{ blockMediaHandle }} MainGrid u-block{{ blockMediaSize != 'large' ? ' container' }}">
		{% set blockMediaHtmlSizes = blockMediaSize == 'large'
			? '100vw'
			: blockMediaSize == 'small'
				? '(max-width: 479px) 100vw, (max-width: 639px) 83vw, 67vw'
				: '(max-width: 639px) 100vw, 83vw'
		%}
		{{ image.picture(blockMedia, {
			width: blockMediaRatio|split(':')[0]|default('auto'),
			height: blockMediaRatio|split(':')[1]|default('auto'),
			wrapperClass: 'relative ' ~ blockMediaColumns,
			class: 'w-full h-full',
			sizes: ['640w', '768w', '1024w', '1536w', '2048w'],
			htmlSizes: blockMediaHtmlSizes
		} )}}
	</section>
{% endif %}
