{% set blockCta = blockCta ??? block.fieldCta.one() ??? null %}
{% set blockCtaTitle = blockCtaTitle ??? blockCta.fieldTitle ??? null  %}
{% set blockCtaLink = blockCtaLink ??? blockCta.fieldLink ??? null  %}
{% set blockCtaBackground = blockCTA ??? blockCta.fieldBackground.one() ??? null %}

{% if blockCtaTitle and blockCtaLink %}
	<section class="relative bg-primary u-block u-block--padding">
		<div class="container relative z-20 MainGrid col-span-full">
			<div class="flex flex-col items-center space-y-8 col-span-full xs:col-span-10 xs:col-start-2 sm:col-span-8 sm:col-start-3">
				<h2 class="text-center">{{ blockCta.fieldTitle|nl2br }}</h2>

				{% include "_macros/button/button" with { 
					element: blockCtaLink,
					style: 'secondary'
				} %}
			</div>
		</div>

		{% if blockCtaBackground %}
			{% import "_macros/images/image.twig" as image %}

			{{ image.picture(blockCtaBackground, {
				width: 1900,
				height: 675,
				wrapperClass: 'absolute inset-0 z-10 before:absolute before:inset-0 before:bg-white/[.35]',
				class: 'w-full h-full',
				sizes: ['640w', '768w', '1024w', '1536w', '2048w'],
				htmlSizes: '100vw'
			} )}}
		{% endif %}
	</section>
{% endif %}
